* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

canvas {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: grid-me(xl);
  padding: 2em;
  height: 100vh;
}

.date--container {
  float: right;
  align-self: flex-end;
}

.moment--container {
  align-self: flex-start;
  max-width: grid-me(large);
  margin-top: 2em;
  height: 14em;
}

.main-area {
  margin-left: 2em;

  @include larger-than(small) {
    margin-left: 3em;
  }
}