%font--title {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;

  @include larger-than(small) {
    font-size: 4em;
  }

  @include larger-than(med) {
    font-size: 5.45em;
  }

  @include larger-than(large) {
    font-size: 7em;
  }

  @include larger-than(xl) {
    font-size: 8em;
  }
}

%font--copy {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 100;

  @include larger-than(small) {
    font-size: 1.15em;
  }

  @include larger-than(med) {
    font-size: 1.4em;
  }

  @include larger-than(large) {
    font-size: 1.6em;
  }
}

.title {
  @extend %font--title;
  align-self: flex-start;
  margin: -.25em auto -.5em;

  @include larger-than(small) {
    margin: 0;
  }
}

.moment {
  &--text {
    @extend %font--copy;
    background-color: $color--copy--bg;
    color: $color--copy;
    display: inline;
    line-height: 1.7;
    padding: .4em;
    mix-blend-mode: multiply;
  }

  &--date {
    @extend %font--title;
    display: inline-block;
    text-align: center;
    width: 3.5em;
    margin: 0;
  }
}

.year {
  font-size: 40vw;
  position: absolute;
  mix-blend-mode: multiply;
  color: #f0f69b;
  top: -0.5em;
  right: -.085em;
  font-family: 'Roboto', sans-serif;
  line-height: 0;
}
