* {
  box-sizing: border-box;
} //REMEMBER: use flexbox

canvas {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

%font--title {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 8em;
}

%font--copy {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
}

$white: #fff;
$black: #222;
$color--copy: $white;
$color--copy--bg: $black;

body {
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  @extend %font--title;
  align-self: flex-start;
  margin: 0;
}

.moment {
  &--container {
    align-self: flex-start;
    max-width: 760px;
    margin-top: 3em;
    height: 12em;
  }

  &--text {
    @extend %font--copy;
    background-color: $color--copy--bg;
    color: $color--copy;
    display: inline;
    line-height: 1.6;
    padding: .1em;
    font-size: 1.6em;
  }

  &--date {
    @extend %font--title;
    display: inline-block;
    text-align: center;
    width: 4em;
    margin: 0;
  }
}

%change-icons {
  display: inline-block;
  background: url('../img/icons.svg');
  background-size: cover;
  border: none;
  width: 4em;
  height: 7em;

  &:hover {
    cursor: pointer;
  }
}

.date {
  &--container {
    align-self: flex-end;
    text-align: right;
  }

  &--rand {
    @extend %change-icons;
    background-position: -10px;
    width: 8.43em;
  }

  &--next {
    background-position: 4.5em 0;
    @extend %change-icons;
  }

  &--prev {
    background-position: 10em 0;
    @extend %change-icons;
  }
}

.sidebar {
  background: $black;
  display: block;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  color: $white;
  margin-left: 3em;
  transition-duration: .25s;

  &:hover {
    margin-left: 3.5em;
    top: 0
  }

  &[data-state='open'] {
    left: 0;
    margin-left: 0;
  }

  &--icon {
    @extend %font--title;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: inherit;
    font-size: 1.5em;
    margin: .25em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid currentColor;
    border-radius: 50%;
  }

  &--info {
    display: none;

  }
}