* {
  box-sizing: border-box; }

canvas {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

.title, .moment--date {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

.moment--text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100; }

.title {
  font-size: 5em; }

.moment--text {
  background-color: #222;
  color: #fff;
  display: inline;
  line-height: 1.5;
  padding: .1em;
  font-size: 1.5em; }
.moment--date {
  font-size: 5em; }

.sidebar--info {
  display: none; }
